body {
  margin: 0;
}
header {
  background-color: #1e1e1e;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 100px 15px;
}
.content {

    display: inline-block;

  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  background-color: #1e1e1e;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}

a {
    color: white;
}

.FlexContainer {
    display: flex;
}

.FlexContainer div {
    text-align: center;
    background-color: #e7e7e7;
    width: 33%;
    margin: 50px;
    padding: 50px;
}

#TagLine {
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: #e7e7e7;
}

.MySkills, .MyWork,  .heroImg{
    background-color: #7a63ff;
}

.WorkGrid {
    display: inline-grid;
}

.GridItem {
    text-align: center;
    background-color: #e7e7e7;
    width: 33%;
    margin: 50px;
    padding: 50px;
}

@media only screen and (max-width: 1000){
    .FlexContainer div{
       display: column;
        flex-direction: column;
        width: 100%;
    }
    .WorkGrid {
        grid-template-rows: 300px 300px;
        grid-template-rows: 1fr;
        grid-template-areas:
            "GridItem"
            "GridItem";
    }

}

